* {
  margin: 0px;
}

.app{
  background-color: #fafafa;
}

.App{
  font-family: sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.content {
  display: flex;

}