.image {
    width: 340px;
    height: auto;
}

.image-container {
    width: 340px;
    background-color: #fafafa;
    margin: 10px;
}

.image-name {
    font-family: Arial;
    color: darkblue;
    font-weight: bold;
    font-size: 27px;
}

.image-description{
    font-family: Arial;
    color: blue;
}